@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/* Remove login image for small device */
@media screen and (max-width: 992px) {
  .login-image {
    display: none;
  }
}
