.call-out {
  background-color: #3ca94e;
  padding: 120px;
  text-align: center;
}

.call-out-heading {
  font-size: 55px;
  color: white;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .call-out {
    padding: 80px;
  }

  .call-out-heading {
    font-size: 28px;
  }
}
